*{
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaeded;
}

/* Header e navigation */

header {
    background-color: #222f3e;
}

header img{
    width: 120px;
    padding: 20px 20px;
}

nav {
    color: white;
    background-color: #354758;
    padding: 10px 20px;
}

.heading {
    background-color: #F56600;
    padding: 10px;
    text-align: center;
    margin: 40px 0px;
}

.heading h2{
    color: white;
    font-size: 18px;
}

/* Main */

main {
    padding: 0px 20px;
}


h2 {
    font-weight: 400;
}

/* Sezione Banner */

.banner{
    height: 250px;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F6E5F;
}

.banner h1, h3{
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.banner img{
    max-width: 200px;
}

/* Sezione Carosello */

.carousel {
    padding: 30px;
    background-color: white;
}

.carousel h2, p{
    display: inline;
    padding-top: 10px;
    margin-right: 10px;
}


.carousel a{
    font-weight: 800;
    color: #017185;
    text-decoration: none;
}

.slider{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-text{
    text-align: left;
}

.slider img{
    width: 24%;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgb(196, 195, 195);
}

/* Sezione Card */

.badge{
    position: absolute;
    height: 60px;
    top: 100px;
    left: 100px;
}

.card-grid {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.card {
    margin-right: 20px;
    padding: 20px 0px 20px 20px;
    background-color: white;
    width: 100%;
}

.card h2 {
    min-height: 40px;
    max-height: 40px;
    font-weight: 800;
    font-size: 24px;
}

.card img {
    display: block;
    max-width: 100%;
    min-width: 20px;
}

.row {
    display: flex;
}

.row a{
    margin-top: 20px;
    color:#017185;
    font-size: 14px;
}

.product{
    position: relative;
    margin: 20px 20px 0 0;
}

.product p{
    font-size: 14px;
}

/* Sezione Categorie */

.container {
    background-repeat: no-repeat;
    height: 450px;
    background-size: cover;
    background-position: center;
}

.categories {
    text-align: center;
    margin-top: 40px;
}

.categories h2, p{
    display: inline;
    padding-top: 10px;
    margin-right: 10px;
}

.category-text{
    padding: 20px;
}

.categories a{
    font-weight: 800;
    color: #017185;
    text-decoration: none;
}

/* Footer */

.back {
    background-color: #354758;
    padding: 15px;
    text-align: center;
}

.back p, a{
    color: white;
}

.boxlogo {
    display: flex;
    background-color: #222f3e;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.boxlogo img {
    width: 200px;
}